<lui-dialog class="wizarddialog">
	<lui-dialog-header>
		<button class="lui-button  lui-dialog__footer-button topButton" ng-click="process();">Import Master Items</button>
		<lui-dialog-title class="topTitle">MasterScript</lui-dialog-title>
	</lui-dialog-header>
	<lui-dialog-body  id="scrollBody">
		<ul class="lui-list">
  		<li class="lui-list__header">
					<span class="column1 column">Title</span>
					<span class="column2 column">Type</span>
					<span class="column3 column">Expression</span>
					<span class="column4 column">Label Expression</span>
					<span class="column4 column">Color</span>
					<span class="column5 column">Status</span>
					<span class="column5 column">Import</span>
					<span class="column7 column">Format Pattern</span>
			</li>
			<li ng-repeat="row in input.masterScriptListInternal" class="lui-list__item rowHeight">
					<div class="column1 column">{{row.displayName}}</div>
					<div class="column2 column">{{row.rowDisplayType}}</div>
					<div class="column3 column">
						<div ng-repeat="field in row.fields" class="fieldoval">{{field}}</div>
					</div>
					<div class="column4 column"><div ng-if="row.labelExpression == ''">&nbsp;</div>{{row.labelExpression}}</div>
					<div class="column4 column"><div ng-if="row.color == '-'">&nbsp;</div><div ng-if="row.color != '-'" class="colorDisc" style="background-color:{{row.color}}">&nbsp;</div></div>
					<div class="column5 column">{{row.status}}</div>
					<div class="column5 column">{{row.processed}}</div>
					<div class="column7 column">{{row.formatType}}</div>
					<div class="errorList" ng-if="row.error">
						<ul>
							<li ng-repeat="error in row.errors"><span class="lui-bg-danger">{{error}}</span></li>
						</ul>
					</div>
			</li>
		</ul>
	</lui-dialog-body>
	<lui-dialog-footer>
		<div class="warningLeft">The MasterScript table will always overwrite any manual changes to master items</div>

		<button class="lui-button  lui-dialog__footer-button" ng-click="close();">Close</button>
	</lui-dialog-footer>
</lui-dialog>
